<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Handling Unexpected Exceptions in Legal Reasoning</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Application.css') }}">
    </head>
    <body>
        <script>
            const translations = {
                seuil: "{{ _('Seuil') }}",
                seuilMinimal: "{{ _('Seuil Minimal') }}"
            };
        </script>

        <header>
            <h1 id="ancre">Handling Unexpected Exceptions in Legal Reasoning</h1>
        </header>
        <main>

        <div class="section">
            <div class="section__bar">
                <h2>{{ _("Sélection des paramètres :") }}</h2>
                <button type="button" class="section__toggle">–</button>
            </div>

            <div class="section__body grid-container">

                <div class="grid-row">
                    <form action="{{ url_for('set_language', lang='fr') }}" method="get" id="langForm">
                        <label for="lang"> {{ _('Langage :') }}</label>
                        <select name="lang" onchange="
                                if (confirm('⚠️ La base de règle va être ré-initialisée pour correspondre à la langue. Continuer ?')) {
                                    document.getElementById('langForm').action = '/set_language/' + this.value;
                                    this.form.submit();
                                } else {this.value = '{{ session.get('lang', 'fr') }}';}">
                            <option value="fr" {% if session.get('lang', 'fr') == 'fr' %}selected{% endif %}>🇫🇷 Français</option>
                            <option value="en" {% if session.get('lang', 'fr') == 'en' %}selected{% endif %}>🇬🇧 English</option>
                        </select>
                    </form>

                    <form method="post" action="/set_config">
                        <label for="api">API :</label>
                        <select name="api" id="api">
                            {% for api_name in API %}
                                <option value="{{ api_name }}" {% if api_name == selected_api %}selected{% endif %}>
                                    {{ api_name }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="{{ _('Changer') }}">
                    </form>
                </div>


                <div class="grid-row">
                    <!-- Knowledge Base -->
                    <form method="post" action="/upload_rules" enctype="multipart/form-data" class="header-upload-form">
                        <div class="form-group">
                            <label for="w_choice">{{ _("Base de connaissances :") }}</label>
                            <select name="w_choice" id="w_choice" onchange="toggleWUpload()">
                                {% for w_name in W_files %}
                                    <option value="{{ w_name }}" {% if session.get('selected_w') == w_name %}selected{% endif %}>
                                        {{ w_name }}
                                    </option>
                                {% endfor %}
                                <option value="__upload__" {% if session.get('selected_w') == "__upload__" %}selected{% endif %}>
                                    {{ _("Déposez vos fichiers") }}
                                </option>
                            </select>
                            <div id="w_upload_fields" class="upload-field" 
                                style="{% if session.get('selected_w') == '__upload__' %}display:block;{% else %}display:none;{% endif %}">
                                <input type="file" name="uploaded_w" id="uploaded_w">
                                <span class="file-name" id="w_file_name">
                                    {% if session.get('uploaded_w_filename') %}
                                        {{ session.get('uploaded_w_filename') }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </form>

                    <!-- Rule Base -->
                    <form method="post" action="/upload_rules" enctype="multipart/form-data" class="header-upload-form">
                        <div class="form-group">
                            <label for="rb_choice">{{ _("Base de Règles :") }}</label>
                            <select name="rb_choice" id="rb_choice" onchange="toggleRBUpload()">
                                {% for rb_name in RB_files %}
                                    <option value="{{ rb_name }}" {% if session.get('selected_rb') == rb_name %}selected{% endif %}>
                                        {{ rb_name }}
                                    </option>
                                {% endfor %}
                                <option value="__upload__" {% if session.get('selected_rb') == "__upload__" %}selected{% endif %}>
                                    {{ _("Déposez vos fichiers") }}
                                </option>
                            </select>
                            <div id="rb_upload_fields" class="upload-field" style="{% if session.get('selected_rb') == '__upload__' %}display:block;{% else %}display:none;{% endif %}">
                                <input type="file" name="uploaded_rb" id="uploaded_rb">
                                <span class="file-name" id="rb_file_name">
                                    {% if session.get('uploaded_rb_filename') %}
                                        {{ session.get('uploaded_rb_filename') }}
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                        <input type="submit" value="{{ _('Changer') }}">
                    </form>
                </div>

                
                

                <div class="grid-row">
                    <button onclick="window.open('{{ url_for('static', filename='pdf/user_guide.pdf') }}', '_blank')">
                        User Guide
                    </button>

                    <button onclick="window.open('https://github.com/Ecobichon-Thomas/Exceptions-Legal-Reasoning.git', '_blank')">
                        GitHub
                    </button>
                </div>

            </div>
        </div>  

        <div class="section">
            <div class="section__bar">
                <h2>{{ _("Veuillez soumettre un scénario ci-dessous :") }}</h2>
                <button type="button" class="section__toggle">–</button>
            </div>
            <div class="section__body section__body--2cols">
                <div class="section__col1">
                    <form method="post" action="/traiter">
                        <p>
                            <textarea name="scenario1" id="scenario1" placeholder="{{ _('Votre scénario') }}" cols="100"></textarea>
                        </p>
                        <input type="submit" value="{{ _('Envoyer') }}">
                    </form>
                </div>
                <div class="section__col2">
                    {% if resultat is defined %}
                    <form method="post" action="/traiter">
                        <input type="hidden" name="scenario" value="{{ scenario }}">
                        <input type="hidden" name="resultat" value="{{ resultat }}">
                        <p>
                            <textarea name="complement" id="complement" placeholder="{{ _('Si la décomposition ne vous convient pas, ajoutez des précisions pour le llm ici') }}" cols="100"></textarea>
                        </p>
                        <input type="submit" value="{{ _('Envoyer') }}">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>    

        {% if scenario %}
        <div class="section">
            <div class="section__bar">
            </div>
            <div class="section__body section__body--2cols">
                <div class="section__col2">  
                    <h2>{{ _('Scénario :') }}</h2>
                    <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ scenario }}</pre>
                </div>  
                
                {% if resultat is defined %}
                    <div class="section__col2"> 
                        <h2>{{ _('Décomposition associée :') }}</h2>
                        <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ resultat }}</pre>
                    </div>
                {% endif %} 
            </div>
        </div>
        {% endif %}

        {% if log %}
        <div class="section">
            <div class="section__bar">
                <h2>
                    {{ _('Traitement :') }} 
                    {% if conflit %}
                        {{ _('Choix de la règle à appliquer :') }}
                    {% endif %}

                    {% if extension %}
                        {{ _('Création d\'une exception à partir de la dernière règle sélectionnée') }}
                    {% endif %}
                    {% if indices_rules is defined %}
                        {{ _('Voici les règles à partir desquelles nous proposons de créer une exception :') }}
                    {% endif %}
                    {% if Pas_adaptation %}
                        {{ _('Aucune règle n\'est suffisament proche pour proposer une adaptation ') }}
                    {% endif %}
                    {% if recap %}
                        {{ _('Récapitulatif de la génération de l\'extension') }}
                    {% endif %}
                    
                </h2>
                <button type="button" class="section__toggle">–</button>
            </div>
            <div class="section__body section__body--with-log">
                <div class="section__main">    
                    {% if No_rule %}
                        <h3>{{ _('Aucune règle ne s\'applique au scénario fourni, veuillez ré-essayer') }}</h3>
                    {% endif %}
                    {% if loop %}
                        <form id="auto-submit-form" method="post" action="/traiter">
                            <input type="hidden" name="scenario" value="{{ scenario }}">
                            <input type="hidden" name="resultat" value="{{ resultat }}">
                            <textarea name="log" style="display:none;">{{ log }}</textarea>
                        </form>
                    {% endif %}
                    {% if conflit %}
                        <div id="choix_regle">
                            {% if no_choice == False %}
                                <h3>{{ _('Sélectionnez une règle parmi celles possibles ci-dessous :') }}</h3>
                            {% endif %}
                            {% if no_choice == True %}
                                <h3>{{ _('Sélectionnez une option :') }}</h3>
                            {% endif %}
                            <form method="post" action="/traiter">
                                <input type="hidden" name="scenario" value="{{ scenario }}">
                                <input type="hidden" name="resultat" value="{{ resultat }}">
                                <textarea name="log" style="display:none;">{{ log }}</textarea>

                                {% for option in options %}
                                    <div>
                                        <input type="radio" id="regle_{{ loop.index0 }}" name="user_choice" 
                                        value="{{ indices[loop.index0] }}" {% if loop.first %}checked{% endif %} required>
                                        <label for="regle_{{ loop.index0 }}">{{ option }}</label>
                                    </div>
                                {% endfor %}
                                {% if no_choice == False %}
                                    <p>{{ _("Ou :") }}</p>
                                {% endif %}
                                {% if pas_premiere_regle == True %}
                                    <div>
                                        <input type="radio" id="regle_none" name="user_choice" value="-1" required>
                                        <label for="regle_none">{{ _('Générer une exception à partir de la dernière règle appliquée') }}</label>
                                    </div>
                                {% endif %}
                                <div>
                                    <input type="radio" id="regle_none" name="user_choice" value="-2" required>
                                    <label for="regle_none">{{ _('Terminer la génération de l\'extension') }}</label>
                                </div>

                                <input type="submit" value="{{ _('Valider le choix') }}">
                            </form>
                        </div>
                    {% endif %}
                    {% if extension %}
                        <form method="post" action="/exceptions">
                            <input type="hidden" name="scenario" value="{{ scenario }}">
                            <input type="hidden" name="resultat" value="{{ resultat }}">
                            <textarea name="log" style="display:none;">{{ log }}</textarea>
                            <h3>{{ _('Choix de la distance utilisée pour le choix de l\'exception :') }}</h3>
                            {% for option in distances %}
                                <div>
                                    <input type="radio" id="dist_{{ loop.index0 }}" name="distances" 
                                    value="{{ option }}" {% if loop.first %}checked{% endif %} required>
                                    <label for="dist_{{ loop.index0 }}">{{ option }}</label>
                                </div>
                            {% endfor %}

                            <h3>{{ _('Choix de la méthode de sélection :') }}</h3>
                            {% for option in selection %}
                                <div>
                                    <input type="radio" id="sel_{{ loop.index0 }}" name="selection" 
                                    value="{{ option }}" {% if loop.first %}checked{% endif %} required>
                                    <label for="sel_{{ loop.index0 }}">{{ option }}</label>
                                </div>
                            {% endfor %}

                            <div id="seuil-container" style="display: none;">
                                <label for="seuil">{{ _('Choix du seuil associé : ') }}</label>
                                <input type="number" id="seuil" name="seuil" min="0" step="1"
                                    value="{{ seuil if seuil is defined else 10 }}">
                            </div>

                            <input type="submit" value="{{ _('Envoyer') }}">
                        </form>
                    {% endif %}
                    {% if no_exception %}
                        <h3>{{ _('Aucune règle suffisament proche n\'a été détectée, pas de création d\'exception proposée') }}</h3>
                    {% elif indices_rules is defined %}
                        <h3>{{ _('Choix de l\'adaptation :') }}</h3>
                        <form method="post" action="/proposition">
                            <input type="hidden" name="scenario" value="{{ scenario }}">
                            <input type="hidden" name="resultat" value="{{ resultat }}">
                            <textarea name="log" style="display:none;">{{ log }}</textarea>

                            {% for i in range(options_rules | length) %}
                                <div class="rule-block">
                                    <p class="rule-title">{{ _('Règle') }} {{ i + 1 }} :</p>
                                    <p class="rule-text">{{ options_rules[i] }}</p>

                                    {% set exceptions = options_exceptions[i] %}
                                    {% set adaptations = adaptations_string[i] %}

                                    {% if exceptions %}
                                        {% for j in range(exceptions | length) %}
                                            <div class="exception-block">
                                                <input type="radio"
                                                    id="regle_{{ i }}_exception_{{ j }}"
                                                    name="choix_exception"
                                                    value="{{ i }}|{{ j }}"
                                                    required
                                                    {% if i == 0 and j == 0 %}checked{% endif %}>
                                                <label for="regle_{{ i }}_exception_{{ j }}">
                                                    <span class="exception-title">{{ _('Exception') }} {{ j + 1 }} :</span> {{ exceptions[j] }}<br>
                                                    <span class="adaptation">{{ _('Adaptation proposée :') }}</span> {{ adaptations[j] }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="no-exception"><em>{{ _('Aucune exception connue') }}</em></p>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div class="rule-block">
                                <input type="radio" id="regle_none" name="choix_exception" value="-1" required>
                                <label for="regle_none"><strong>{{ _('Ne pas sélectionner d\'exception') }}</strong></label>
                            </div>

                            <input type="submit" value="{{ _('Valider le choix') }}" class="submit-btn">
                        </form>
                    {% endif %}

                    {% if Pas_adaptation %}
                        
                        <form method="post" action="/traiter">
                            <input type="hidden" name="scenario" value="{{ scenario }}">
                            <input type="hidden" name="resultat" value="{{ resultat }}">
                            <textarea name="log" style="display:none;">{{ log }}</textarea>
                            <input type="submit" value="{{ _('Poursuivre') }}">
                        </form>
                    {% endif %}

                    {% if pas_de_choix %}
                        <h2>{{ _('Pas de règle choisie :') }}</h2>
                    {% endif %}

                    {% if recap %}
                        {% for i in range(regles_appliquees | length) %}
                            <div class="rule-block">
                                <p class="rule-title">{{ _('Règle') }} {{ i + 1 }} :</p>
                                <p class="rule-text">{{ regles_appliquees[i] }}</p>
                            </div>
                        {% endfor %}
                        <div class="situation-recap">
                                <p class="rule-title">{{ _('Situation finale :') }}</p>
                                <p class="rule-text">{{ situation_finale }}</p>
                        </div>
                    {% endif %}
                    {% if add_RB %}
                        <h3>
                            {{ _('Voulez-vous créer une nouvelle base de règle comprenant les règles qui ont été créées?') }}
                        </h3>
                        <p>{{ _('Vous pourrez retrouver le base de règles créée dans la liste déroulante en haut, sélectionnez la si vous voulez soumettre un autre scénario en tenant compte de ces nouvelles règles') }}</p>
                        <form method="post" action="/traiter">
                            <input type="hidden" name="scenario" value="{{ scenario }}">
                            <input type="hidden" name="resultat" value="{{ resultat }}">
                            <textarea name="log" style="display:none;">{{ log }}</textarea>
                            <div class="rule-block">
                                <input type="radio" id="oui" name="add_RB" value="True" required>
                                <label for="oui"><strong>{{ _('Oui') }}</strong></label>
                                <input type="radio" id="non" name="add_RB" value="False">
                                <label for="non"><strong>{{ _('Non') }}</strong></label>
                            </div>
                            <input type="hidden" name="user_choice" value="-3">
                            <input type="submit" value="{{ _('Valider le choix') }}" class="submit-btn">
                        </form>
                    {% endif %}
                </div>
                <div class="section__log">
                    {% if log %}
                        <h2>{{ _('Compte rendu du déroulement de la génération de l\'extension associée au scénario :') }}</h2>
                        <pre>{{ log|safe }}</pre>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

        </main>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>

<footer>
  <div class="footer-container">
    <div class="funding">
      <h4>Funding by:</h4>
      <a href="https://www.irit.fr/aidal/">AIDAL CPJ</a>     
      <a href="https://www.ut-capitole.fr/accueil/recherche/irsi-international-research-for-society-institute">IRSI</a>
    </div>
    <div>
      <h4>Team:</h4>
      <a href="https://www.linkedin.com/in/thomas-ecobichon-59725a23a/">Thomas Ecobichon</a>
      <a href="https://www.linkedin.com/in/karladsj">Karla Salas</a>
    </div>
    <div class="team">
    <h4></h4>
    
      <a href="https://www.linkedin.com/in/mathieu-carpentier-30263812b/">Mathieu Carpentier</a>
      <a href="https://www.linkedin.com/in/sylviedoutre/">Sylvie Doutre</a>
      <a href="https://www.linkedin.com/in/jeanguymailly/">Jean-Guy Mailly</a>
    </div>
  </div>
</footer>
</html>
